extends base.pug

block content 
    h4 Chagne Title of No.#{video.id} Video
    form(method = "POST")
        input(name="title", placeholder = "Video Title", value = video.title, required)
        input(value = "Save", type = "submit")