extends base


block content 
    if errorMessage 
        span=errorMessage
    form(method = "POST")
        input(placeholder = "Enter your username", name = "username", type = "text", required)
        input(placeholder = "Enter your password", name = "password", type = "password", required)
        input(type="submit", value="Login")
    hr
    div
        span Don't have an account?  
        a(href="/join") Create one now &rarr;